@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,400italic,700,700italic,300italic);
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css);

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	padding: 0 20px 200px;
	background-color: #f1f1f1;
}

h1 {
	font-size: 3em;
}

input, textarea {
	display: block;
	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

button {
	display: inline-block;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}

.container {
	width: 780px;
	max-width: 90vw;
	margin: 0 auto;
}

.lista-filmes .filme {
	position: relative;
	background-color: #FFF;
	border-radius: 10px;
	margin-bottom: 30px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}

.lista-filmes .filme.com-cartaz {
	overflow: hidden;
	padding-left: 200px;
}

.lista-filmes .filme .del {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background-color: transparent;
	font-size: 20px;
	line-height: 10px;
	padding: 10px;
	font-weight: bold;
	overflow: hidden;
	color: #FC6E51;
}

.lista-filmes .filme .del:hover {
	color: #E9573F;
}

.lista-filmes .filme .del:after {
	content: '\00D7';
}

.lista-filmes .filme img {
	position: absolute;
	width: 180px;

	max-height: 260px;

	top: 50%;
	left: 0;

	transform: translateY(-50%);
}

.lista-filmes .filme h1 {
	margin: 0;
	font-size: 1.5em;
}

.lista-filmes .filme ul {
	padding: 0;
	list-style-position: inside;
}

.lista-filmes .filme p {
	margin: 0;
}

.form-filmes {
	margin-top: 30px;
	padding: 20px;
	background-color: #fff;
}

.form-filmes h1 {
	font-size: 2em;
	margin-top: 0;
}

.form-filmes .form-campo {
	margin-bottom: 10px;
}

.form-filmes .form-campo.pequeno input {
	width: 100px;
}

.form-filmes .form-campo.medio input {
	width: 50%;
}

.form-filmes .form-campo label {
	display: inline-block;
	margin-bottom: 3px;
}

.form-filmes footer {
	margin-top: 30px;
	text-align: right;
}

.form-filmes button[type="submit"] {
	background-color: #8CC152;
	color: #fff;
}

.form-filmes button[type="submit"]:hover {
	background-color: #A0D468;
}

.form-filmes button[type="reset"] {
	background-color: #AAB2BD;
	color: #fff;
}

.form-filmes button[type="reset"]:hover {
	background-color: #CCD1D9;
}

input.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid{
	border-color: #FC6E51;
}